# This is Git's per-user configuration file.
[user]
    name = Ricardo Pereira
	email = ricardo.pereira@revolut.com

[core]
    editor = /opt/homebrew/bin/nvim
    pager = diff-so-fancy | less --tabs=4 -RFX

[url "git@github.com:"]
    insteadOf = https://github.com/

#[commit]
#    gpgsign = true

#[gpg]
#    program = /usr/local/bin/gpg
[alias]
    setmymail = "config user.email 'ricardo.agp.914@gmail.com'"
[fetch]
    prune = true
[pull]
	rebase = false
[credential]
	helper = osxkeychain
